/* reset */
* {margin: 0; padding: 0; color: inherit; font-family: nanumgothic; font-size: 1em; font-style: inherit; font-weight: inherit; text-decoration: inherit; border: 0 solid transparent; outline: 0; box-sizing: border-box; background-repeat: no-repeat; background-color: transparent;}
b, strong {font-weight: bold;}
ul, ol {list-style: none;}
input[type="button"], input[type="submit"],input[type="reset"],button,a,label {cursor: pointer;}

#wrap {width: 1200px; margin: 0 auto;}
#header {height: 60px; line-height: 60px; background-color: #d0d0d0;}
#lnb {float: left; height: 100%; width: 20%;}
#content {float: left; width: 80%; height: 100%; padding: 20px; }